# --- Systèmes d'exploitation ---
.DS_Store
Thumbs.db
desktop.ini

# --- Fichiers de configuration sensibles (IMPORTANT) ---
.env
.env.local
*.secret
*.key

# --- Outils de Pentest & Logs ---
*.log
*.pcap
*.pcapng
*.xml
*.gnmap
*.nmap
out/
results/

# --- Éditeurs de texte ---
.vscode/
.idea/
*.swp
*.swo

# --- Backup et Temporaire ---
*.bak
*.tmp
*~
